* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  margin: 0;
  background-color: gold;
  
}

header {
  background-color: #ffffff;
  border-color: #ccc;
  width: 960px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  color: #4aaaa5; 
  height: 100px;
}

header h2 {
  background-color: #4aaaa5;
  color: #fff;
  float: left;
  line-height: 100px;
  margin: 0;
  padding: 0 20px;
  
}
.header-links {
  float: right;
  padding: 40px 20px;
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
}
  
a.header-links {
  border-right: solid 
}
p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 150%;
  color: darkgrey;
  
}

.main-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: pink;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#about {
  border-bottom: solid lightslategray 2px;
  color: #4aaaa5;
}

.main-wrapper {
  width: 960px;
  margin: 30px auto auto auto;
  padding: 20px;
  background-color: #fff;
  border: solid #ddd 1px;
}

#bio-image {
  float: left;
  margin: 5px 20px 5px 0;
  height: 150px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 0;
  border-top: solid #4aaaa5 5px;
  font-size: .5em;
  clear: both;
  background-color: #666;
}
